PGHOST=localhost
PGPORT=5432
PGUSER=<YOUR POSTGRES USER>
PGPASSWORD=<YOUR POSTGRES PASSWORD>
PGDATABASE=cbp
JWT_SECRET=<GENERATE ONE: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))">
PORT=5001
